<h2>商品一覧</h2>
<% @items.each do |item| %>
  <div>
    <%= link_to item_path(item) do %>
      <p><%= attachment_image_tag item, :image, format: 'jpeg', size: "100x100" %></p>
      <p><%= item.name %></p>
    <% end %>
    <p>¥<%= item.price %></p>
  </div>
<% end %>